<ion-toolbar slot="top">
  <a routerLink=""><ion-img src="assets/img/logo.jpg"></ion-img></a>
  <h1>Espace client</h1>
  <h2>Connectez-vous</h2>
</ion-toolbar>


<ion-content>
  <form>
    <input type="text" name="" id="" placeholder="Votre pseudo">
    <input type="text" name="" id="" placeholder="Votre mot de passe">
    <input type="checkbox" name="checkbox" id="checkbox">
    <label for="checkbox">Enregistrer le mot de passe</label>
    <button type="submit">se connecter <i class="fas fa-sign-in-alt"></i></button>
    <p><a routerLink="">Mot de passe oublié</a>
      <a routerLink="">Créer un compte</a></p>
  </form>
</ion-content>

<app-footer></app-footer>