ion-text{
    text-align: center;
    color: #fff;
}
a {
    color: #fff;
}
ion-toolbar {
    --background: #c00;
}
ion-buttons {
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}